
.logo{
  font-size: 2.5em;
  margin-right: 500px;
}

.section_headers{
  text-align: center;
  text-decoration: underline;
}

.hero-unit{
  text-align: center;
}
.skill-container{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;

}

.thumbnails{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

.thumbnail{
  max-width: 300px;
}

.icon{
  margin: 0 auto;
  width: 200px;
  height:200px;
  background-color: skyblue;
  border-radius: 100%;
}


.diamond{
  margin:10px;
  width: auto;
  height: 300px;
  background-color: lavender;
}

.projects{
  display: flex;
  margin: 10px;
}

.two{
  flex-direction: row-reverse;
}

.project_preview{
  margin: 20px;
  height: 200px;
  width: 60%;
  background-color: yellow;
}
