
html,
body{
  height: 100%;
  font-family: verdana;
}

.skills-header{
  text-align: center;
  text-decoration: underline;
}

.navbar{
  width: 100%;
	z-index: 5;
	position: fixed;
}

/* home page */

#cover{
  height: 100%;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  align-items: center;
}

#cover-caption{
  width: 100%;
}

.hellobox{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* about me */

#about{
  padding: 20px;
  height: 100%;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
  align-items: center;
}


.about-header{
  color:#39b67a;
  margin:20px;
}

#view-work{
margin: 50px;
text-decoration: none;
}

#work-button{
  border-radius: 5px;

}


/*photography*/

img{
  max-width: 100%;

}

.photography{
  background-color: #000;
  color:white;
  text-align: center;
  padding: 10px;
}

.photo-container{
  display:flex;
  width:70%;
  margin: 0 auto;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.flex-items{
  margin: 10px;
}

.boxOne,
.boxFour{
  max-width: 800px;
  flex: 2 1 auto;
  justify-content: space-around;
}

.boxTwo,
.boxThree{
  max-width: 45%;
}


* projects*/

.web-projects{
  background-color: #e6e6e6;

}
.projects{
display:flex;
align-items: center;
flex-direction: column;
margin: 10px;


}

.project-name{
    color: #388cbc;
}

/* contact Me*/
.contact{
  background-color:#0099cc;
  text-align: center;
  padding: 20px;
  color:white;
  text-shadow: 5px ;
}


.divider{
  border-top: 5px dotted;
  width: 200px;
  margin: 30px auto;
}

/*contact me */

#contact{
 padding: 20px;
color: white;
}


