
html,
body{
  height: 100%;
  font-family: verdana;
}

.navbar{
  width: 100%;
	z-index: 5;
	position: fixed;
}

#cover{
 
  background-color: #000;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  color:white;
  /*color:#1d77a8;*/
  font-size: 2em;
  text-shadow: 1px 1px 1px #ccc;
}

.divider{
  border-top: 5px dotted;
  width: 200px;
  margin: 30px auto;
}

span{
  font-size: 2.3em;
}

#about{
  height:40%;
}

.section_headers{
  text-align: center;
  /*color: white;*/
  font-family: verdana;
  flex: 100%;
}


.thumbnails{
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color:#1d77a8;
  width: 100%;
}

.thumbnail{
  margin: 10px;
  border-radius: 2%;
  max-width: 300px;
  height: 100%;
  box-shadow: 0px 3px 5px #444;

}

#works{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.card{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: .25rem;
  width: 390px;
  padding:.75rem;
  margin-bottom: 2rem;

}

.box_preview{
  height:280px;
  width: 100%;
  display: block;
  justify-content: center;

}
